a,
h1,
h2,
h3,
ul,
html,
body,
#root {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  color: #314085;
  box-sizing: border-box;
  text-align: center;
}
header {
  background-color: #6290cc;
  color: #ffffff;
  width: 80%;
  margin-top: -8px;
  margin-bottom: 15px;
  padding-top: 18px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px #00000033;
}

nav {
  background-color: #c8d9ee;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px #00000033;
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

main {
  color: #ffffff;
  background-color: #6290cc;
  width: 80%;
  height: 75vh;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px #00000033;
  margin: 15px 0;
}

/* TABELA */
table{
  display: flex;
  flex-direction: column;
  align-items: center;
}
table,
tbody,
th,
td {
  border-collapse: collapse;
  border: 1px solid #aeaeae;
}

table > tbody > tr > th,
table > tbody > tr > td {
  padding: 3px !important;
}

table > tbody > tr > th:nth-child(1),
table > tbody > tr > td:nth-child(1) {
  text-align: center;
}

table > tbody > tr > th:nth-child(3),
table > tbody > tr > td:nth-child(3) {
  text-align: center;
  width: 230px;
}

table > tbody > tr > td > button {
  width: 100px;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}

/* FORMULÃRIO */
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > * {
  width: 20%;
  box-sizing: border-box;
  margin-top: 5px;
}

form > input,
form > button {
  padding: 5px;
}

label,
fieldset {
  margin-top: 10px;
}

form > button {
  width: 100px;
  margin: 20px 10px 20px 0;
  display: inline-block;
}

main > div > button {
  width: 100px;
  margin: 10px 0 20px 0;
  display: inline-block;
  padding: 3px;
}